body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: black;
  overscroll-behavior: none;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  padding: 2px 10px;
  height: 22px;
  border-radius: 5px;
  background-color: navy;
  color: white;
}

button:hover {
  background-color: mediumblue;
}

button:disabled,
button:disabled:hover {
  background-color: gray;
  cursor: default;
}

.title {
  text-align: center;
  color: gold;
}

.row {
  display: flex;
  align-items: center;
  border: 3px solid rgb(21, 138, 91);
  border-radius: 1%;
  padding: 1em;
  margin-bottom: 5px;
}

.row:hover {
  background-color: white;
  border: 6px solid rgba(0, 0, 255, 0.538);
  .rowLabel {
    color: rgb(13, 77, 79);
  }
  .sampleContainer {
    background-color: gold;
  }
}

.thumb {
  width: 100%;
}

.rowLabel {
  flex: 2 1 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: gold;
  text-align: center;
}

.sampleContainer {
  flex: 1 1 0;
  background-color: white;
  opacity: 0.9;
  text-align: center;
  border-radius: 10%;
  margin: 1px;
  overflow: hidden;
  font-weight: 900;
  color: rgb(13, 77, 79);
}

.blur {
  filter: blur(5px);
}

@media only screen and (max-width: 600px) {
  .rowLabel,
  .sampleContainer {
    font-size: 1.2em;
  }
}
